<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title><%= title %></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="assets/css/thibcontact.css">
</head>
<body>
    <div id="news-nav">
        <header id="news-header">
            <a href="index.html"><h1 class="sn">Thibault</h1></a>
            <a href="company">Thibault品牌</a>
            <a href="collection">品牌曆史</a>
            <a href="collection">系列産品</a>
            <a href="news">品牌新聞</a>
        </header>
    </div>
    <div class="wrapper" id="contact-wrapper">
        <article class="news">
            <div class="headline">
                <div class="container contact-container">
                    <h2 class="news-hd fl-l">聯系我們</h2>
                    <span class="fl-r hand" id="J_contact"><i>+</i> 留言</span>
                </div>
            </div>
            <div class="news-body contact-body container contact-container clearfix">
                <div id="address" class="fl-r">
                    <div class="addr-inner">
                        <p>
                            <span class="label">香港電話：</span>9541 0300
                        </p>
                        <p>
                            <span class="label">電話：</span>00852-3078873
                        </p>
                        <p>
                            <span class="label">传真：</span>00852-35684387
                        </p>
                        <p>
                            <span class="label">地址：</span>香港新界葵涌葵昌路26-38豪华工业大厦23楼
                        </p>
                    </div>
                </div>

                <div id="mapviewer" class="fl-l"><iframe id="map" scrolling="no" width="490" height="390" frameborder="0" src="http://cn.bing.com/maps/embed/?v=2&amp;cp=22.364554~114.133117&amp;lvl=18&amp;dir=0&amp;sty=r&amp;where1=%E9%A6%99%E6%B8%AF%E6%96%B0%E7%95%8C%E8%91%B5%E6%B6%8C%E8%91%B5%E6%98%8C%E8%B7%AF26-38%E8%B1%AA%E5%8D%8E%E5%B7%A5%E4%B8%9A%E5%A4%A7%E5%8E%A623%E6%A5%BC&amp;form=LMLTEW&amp;emid=7cbff581-fa22-bf84-2e78-8a1c81e1d8b5"></iframe><div id="LME_maplinks" style="line-height:20px;"><a id="LME_largerMap" href="http://cn.bing.com/maps/?v=2&amp;cp=22.364554~114.133117&amp;lvl=18&amp;dir=0&amp;sty=r&amp;where1=%E9%A6%99%E6%B8%AF%E6%96%B0%E7%95%8C%E8%91%B5%E6%B6%8C%E8%91%B5%E6%98%8C%E8%B7%AF26-38%E8%B1%AA%E5%8D%8E%E5%B7%A5%E4%B8%9A%E5%A4%A7%E5%8E%A623%E6%A5%BC&amp;form=LMLTEW" target="_blank" style="margin:0 7px">檢視較大的地圖</a><a id="LME_directions" href="http://cn.bing.com/maps/?v=2&amp;cp=22.364554~114.133117&amp;lvl=18&amp;dir=0&amp;sty=r&amp;where1=%E9%A6%99%E6%B8%AF%E6%96%B0%E7%95%8C%E8%91%B5%E6%B6%8C%E8%91%B5%E6%98%8C%E8%B7%AF26-38%E8%B1%AA%E5%8D%8E%E5%B7%A5%E4%B8%9A%E5%A4%A7%E5%8E%A623%E6%A5%BC&amp;form=LMLTEW&amp;rtp=%7Epos.22.36455426661253_114.13311650185238_%E8%91%B5%E6%B6%8C" target="_blank" style="margin:0 7px">駕駛路線</a></div></div>


                <form action="?act=msg" id="msgform">
                    <div class="inner">
                        <p>致 Thibault</p>
                        <textarea name="msg" id="msg"></textarea>
                        <br>
                        <input type="submit" class="submit-btn">
                    </div>
                </form>
            </div>
        </article>


        <footer id="news-footer">
            <div id="footer-container" class="clearfix">
                <ul id="footer-list">
                    <li class="fbn-item">
                        <a href="company" title="Thibault品牌" class="fbn-text" data-target="company">Thibault品牌</a>
                    </li>
                    <li class="fbn-item">
                        <a href="archives" title="品牌曆史" class="fbn-text" data-target="archives">品牌曆史</a>
                        <dl>
                          <dd><a href="archives-1989-1999" title="1989~1999">1989~1999</a></dd>
                          <dd><a href="archives-1999-2014" title="2000~2014">2000~2014</a></dd>
                        </dl>
                    </li>
                    <li class="fbn-item">
                        <a href="collection" title="系列産品" class="fbn-text" data-target="collection">系列産品</a>
                        <dl>
                            <dd><a href="collection-men" title="男士香水">男士香水</a></dd>
                            <dd><a href="collection-women" title="女士香水">女士香水</a></dd>
                        </dl>
                    </li>
                    <li class="fbn-item">
                        <a href="news" title="品牌新聞" class="fbn-text" data-target="news">品牌新聞</a>
                    </li>
                </ul>
                <div id="footer-bar">
                    <ul class="fl-r">
                        <li><a href="#">負責聲明</a></li>
                        <li><a href="#">聯系我們</a></li>
                        <li><a href="#cn">中文</a> <a href="#english">English</a></li>
                        <li>
                            <a href="#" title="facebook"><i class="icon icon-facebook"></i></a>
                            <a href="#" title="twitter"><i class="icon icon-twitter"></i></a>
                            <a href="#" title="youtube"><i class="icon icon-youtube"></i></a>
                            <a href="#" title="google+"><i class="icon icon-google"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </footer>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<scr'+'ipt src="assets/js/jquery.js"><\/sc'+'ript>')</script>
    <script>
    (function () {
        'use strict';
        var msgform = $('#msgform');
        $('#J_contact').click(function() {
            $(this).toggleClass('c-active');
            if ($(this).is('.c-active')) {
                msgform.stop(true).animate({marginTop: 0}, 600);
            } else {
                msgform.stop(true).animate({marginTop: -700}, 600);
            }
        });
    }());
    </script>
</body>
</html>