<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title><%= title %></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="assets/css/thib.css">
  <link rel="stylesheet" href="assets/css/timeline.css">
  <!-- <link rel="stylesheet" href="assets/3rd/animate.css"> -->
</head>
<body>
  <script>document.body.className += ' ' + 'no-ready';</script>
  <div class="wrapper">
    <div id="home" class="section section-active">
      <div class="home-inner">
        <div class="header-bg sc-bg animated"><img src="./assets/css/img/hdg-5.jpg" width="500" height="350" id="hdimg"></div>
        <div class="header-container container animated">
          <h1 id="title">Thibault</h1>
          <div id="nav">
            <ul class="menu">
            <% for (var i=0,il=menu.length; i< il; i++) { 
              var item = menu[i];
            %>
              <li class="menu-item">
                <a href="?page=<%= item.path %>" title="<%= item.text %>" class="menu-a" data-target="<%= item.path %>"><%= item.text %></a>
                <% if (item.sub) {
                  var itemSub = item.sub;
                %>
                  <ul class="sub-menu">
                    <% for(var j=0,jl=itemSub.length; j<jl; j++) {
                      var subItem = itemSub[j];
                    %>
                      <li class="sub-item"><a href="<%= subItem.path %>" title="<%= subItem.text%>"><%= subItem.text %></a></li>
                    <% } %>
                  </ul>
                <% } %>
              </li>
            <% } %>
            </ul>
          </div>
          <ul id="top-bar">
            <li><a href="/statement" title="免責聲明">免責聲明</a></li>
            <li><a href="/contact" title="聯系我們">聯系我們</a></li>
            <li><a href="/cn">中文</a> <a href="/en">English</a></li>
          </ul>
        </div>
      </div>
    </div>
    <!-- <div id="header-block"><i class="corner"></i></div> -->

    <div id="company" class="section">
      <div class="container company-container">
        <h4 id="ch">Thibault品牌</h4>
        <div id="company-rg"></div>
        <p id="c1">缇泊（Thibault）法國香水化妝品品牌，由法國人喬治•缇泊先生于1989年在法國巴黎創辦，同年10月于香料原料國貝甯創建了自己的綠色種植園和香水加工工廠。由于缇泊香水的設計理念高檔、豪華形成的時尚之風席卷歐洲，以“芬香創建友誼的橋梁”爲品牌主題成爲上流社會社交人士的消費寵兒，壹向被商界人士垂青，時尚之余不失高雅。</p>
        <p id="c2">缇泊香水設計理念是充分發揮人們的潛能魅力。對于香水，缇泊說：“芬香是創建友誼的橋梁"，Thibault設計香水經過多年的努力實現了讓人們可以在香水的芬香中感受友誼和魅力，讓人們沈醉在設計的獨特魅力當中。我的理想是只要能感受香水中散發的芬香氣息就能激發出人們最大活力，喬治•缇泊堅信香水是人們對個性的補充，只有它可以點然人們的活力，讓使用者散發出成功的魅力，讓芬香來拉近人與人之間的距離。</p>
      </div>
    </div>

    <!-- history start -->
    <div id="archives" class="section">
      <div class="container archives-container">
        <h3 class="section-head">品牌曆史</h3>
        <div id="timeline">
          <ul id="dates">
            <li><a href="#1989" class="selected">1989</a></li>
            <li><a href="#1990">1990</a></li>
            <li><a href="#1995">1995</a></li>
            <li><a href="#1998">1998</a></li>
            <li><a href="#1999">1999</a></li>
            <li><a href="#2000">2000</a></li>
            <li><a href="#2004">2004</a></li>
            <li><a href="#2008">2008</a></li>
            <li><a href="#2010">2010</a></li>
            <li><a href="#2014">2014</a></li>
          </ul>
          <ul id="issues">
            <li id="1989" class="selected">
              <img src="assets/images/archives/1.png" width="256" height="256" />
              <h1>1989</h1>
              <p>Donec semper quam scelerisque tortor dictum gravida. In hac habitasse platea dictumst. Nam pulvinar, odio sed rhoncus suscipit, sem diam ultrices mauris, eu consequat purus metus eu velit. Proin metus odio, aliquam eget molestie nec, gravida ut sapien. Phasellus quis est sed turpis sollicitudin venenatis sed eu odio. Praesent eget neque eu eros interdum malesuada non vel leo. Sed fringilla porta ligula.</p>
            </li>
            <li id="1990">
              <img src="assets/images/archives/2.png" width="256" height="256" />
              <h1>1990</h1>
              <p>Donec semper quam scelerisque tortor dictum gravida. In hac habitasse platea dictumst. Nam pulvinar, odio sed rhoncus suscipit, sem diam ultrices mauris, eu consequat purus metus eu velit. Proin metus odio, aliquam eget molestie nec, gravida ut sapien. Phasellus quis est sed turpis sollicitudin venenatis sed eu odio. Praesent eget neque eu eros interdum malesuada non vel leo. Sed fringilla porta ligula.</p>
            </li>
            <li id="1995">
              <img src="assets/images/archives/3.png" width="256" height="256" />
              <h1>1995</h1>
              <p>Donec semper quam scelerisque tortor dictum gravida. In hac habitasse platea dictumst. Nam pulvinar, odio sed rhoncus suscipit, sem diam ultrices mauris, eu consequat purus metus eu velit. Proin metus odio, aliquam eget molestie nec, gravida ut sapien. Phasellus quis est sed turpis sollicitudin venenatis sed eu odio. Praesent eget neque eu eros interdum malesuada non vel leo. Sed fringilla porta ligula.</p>
            </li>
            <li id="1998">
              <img src="assets/images/archives/4.png" width="256" height="256" />
              <h1>1998</h1>
              <p>Donec semper quam scelerisque tortor dictum gravida. In hac habitasse platea dictumst. Nam pulvinar, odio sed rhoncus suscipit, sem diam ultrices mauris, eu consequat purus metus eu velit. Proin metus odio, aliquam eget molestie nec, gravida ut sapien. Phasellus quis est sed turpis sollicitudin venenatis sed eu odio. Praesent eget neque eu eros interdum malesuada non vel leo. Sed fringilla porta ligula.</p>
            </li>
            <li id="1999">
              <img src="assets/images/archives/5.png" width="256" height="256" />
              <h1>1999</h1>
              <p>Donec semper quam scelerisque tortor dictum gravida. In hac habitasse platea dictumst. Nam pulvinar, odio sed rhoncus suscipit, sem diam ultrices mauris, eu consequat purus metus eu velit. Proin metus odio, aliquam eget molestie nec, gravida ut sapien. Phasellus quis est sed turpis sollicitudin venenatis sed eu odio. Praesent eget neque eu eros interdum malesuada non vel leo. Sed fringilla porta ligula.</p>
            </li>
            <li id="2000">
              <img src="assets/images/archives/6.png" width="256" height="256" />
              <h1>2000</h1>
              <p>Donec semper quam scelerisque tortor dictum gravida. In hac habitasse platea dictumst. Nam pulvinar, odio sed rhoncus suscipit, sem diam ultrices mauris, eu consequat purus metus eu velit. Proin metus odio, aliquam eget molestie nec, gravida ut sapien. Phasellus quis est sed turpis sollicitudin venenatis sed eu odio. Praesent eget neque eu eros interdum malesuada non vel leo. Sed fringilla porta ligula.</p>
            </li>
            <li id="2004">
              <img src="assets/images/archives/7.png" width="256" height="256" />
              <h1>2004</h1>
              <p>Donec semper quam scelerisque tortor dictum gravida. In hac habitasse platea dictumst. Nam pulvinar, odio sed rhoncus suscipit, sem diam ultrices mauris, eu consequat purus metus eu velit. Proin metus odio, aliquam eget molestie nec, gravida ut sapien. Phasellus quis est sed turpis sollicitudin venenatis sed eu odio. Praesent eget neque eu eros interdum malesuada non vel leo. Sed fringilla porta ligula.</p>
            </li>
            <li id="2010">
              <img src="assets/images/archives/8.png" width="256" height="256" />
              <h1>2010</h1>
              <p>Donec semper quam scelerisque tortor dictum gravida. In hac habitasse platea dictumst. Nam pulvinar, odio sed rhoncus suscipit, sem diam ultrices mauris, eu consequat purus metus eu velit. Proin metus odio, aliquam eget molestie nec, gravida ut sapien. Phasellus quis est sed turpis sollicitudin venenatis sed eu odio. Praesent eget neque eu eros interdum malesuada non vel leo. Sed fringilla porta ligula.</p>
            </li>
            <li id="2011">
              <img src="assets/images/archives/9.png" width="256" height="256" />
              <h1>2011</h1>
              <p>Donec semper quam scelerisque tortor dictum gravida. In hac habitasse platea dictumst. Nam pulvinar, odio sed rhoncus suscipit, sem diam ultrices mauris, eu consequat purus metus eu velit. Proin metus odio, aliquam eget molestie nec, gravida ut sapien. Phasellus quis est sed turpis sollicitudin venenatis sed eu odio. Praesent eget neque eu eros interdum malesuada non vel leo. Sed fringilla porta ligula.</p>
            </li>
            <li id="2014">
              <img src="assets/images/archives/10.png" width="256" height="256" />
              <h1>2014</h1>
              <p>Donec semper quam scelerisque tortor dictum gravida. In hac habitasse platea dictumst. Nam pulvinar, odio sed rhoncus suscipit, sem diam ultrices mauris, eu consequat purus metus eu velit. Proin metus odio, aliquam eget molestie nec, gravida ut sapien. Phasellus quis est sed turpis sollicitudin venenatis sed eu odio. Praesent eget neque eu eros interdum malesuada non vel leo. Sed fringilla porta ligula.</p>
            </li>
          </ul>
          <div id="grad_left"></div>
          <div id="grad_right"></div>
          <a href="#" id="next">+</a>
          <a href="#" id="prev">-</a>
        </div>
      </div>
    </div>

    <!-- product start -->
    <div id="collection" class="section">
      <div class="collection-container container">
        <!-- <h2 class="section-head">暢銷產品</h2> -->
        <div id="prod-nav">
          <header>
              <h1 class="sn">
                  <a href="index.html">Thibault產品</a>
              </h1>
              <hr class="nav-hr">
              <dl class="prod-nav-list">
                <dt>男士香水</dt>
                  <dd><a href="#1" data-id="men-1">Thibault（能量）男士香水</a></dd>
                  <dd><a href="#2" data-id="men-2">Thibault（古龍）男士香水</a></dd>
                  <dd><a href="#3" data-id="men-3">Thibault（海風）男士香水</a></dd>
                  <dd><a href="#4" data-id="men-4">Thibault（夜醉）男士香水</a></dd>
              </dl>
              <hr class="nav-hr">
              <dl class="prod-nav-list">
                <dt>女士香水</dt>
                  <dd><a href="#1" data-id="men-1">Thibalt（風情時刻）女士香水</a></dd>
                  <dd><a href="#2" data-id="men-2">Thibalt（迷情公主）女士香水</a></dd>
              </dl>
          </header>
        </div>

        <div class="collection-box" id="prod-wrapper">
          <div class="prod-main">
            <img src="assets/images/collection/99.jpg" alt="#" width="960" height="320" id="prod-big">
            <span class="toggler" id="J_collTogller">↕</span>
          </div>


          <ul class="women-list collection-list clearfix">
            <li>
              <a href="#">
                <img src="assets/images/collection/m.png" style="width:320px;height:240px;" alt="男士香水">
              </a>
            </li>
          <% for(var i = 0, il = collection.men.length; i < il; i++) {
            var item = collection.men[i];
          %>
            <li>
              <a href="/collection?id=<%= item.id %>">
                <i></i>
                <div class="unit_front flip front">
                  <img src="assets/images/collection/<%= item.img %>" alt="<%= item.name %>">
                </div>
                <div class="unit_back flip back">
                  <div class="back-inner">
                    <h4 class="name"><%= item.name %></h4>
                    <div class="ingredient">
                      <% item.ingredient.forEach(function(ingr) { %>
                      <p><%= ingr %></p>
                      <% }) %>
                    </div>
                    <div class="desc"><%- item.desc %></div>
                  </div>
                </div>
              </a>
            </li>
          <% } %>
          </ul>

          <ul class="man-list collection-list clearfix">
            <li>
              <a href="#">
                <img src="assets/images/collection/w.png" style="width:320px;height:240px;" alt="男士香水">
              </a>
            </li>
          <% for(var i = 0, il = collection.women.length; i < il; i++) {
            var item = collection.women[i];
          %>
            <li>
              <a href="/collection?id=<%= item.id %>">
                <i></i>
                <div class="unit_front flip front">
                  <img src="assets/images/collection/<%= item.img %>" width="320" height="240" alt="<%= item.name %>">
                </div>
                <div class="unit_back flip back">
                  <div class="back-inner">
                    <h4 class="name"><%= item.name %></h4>
                    <div class="ingredient">
                      <% item.ingredient.forEach(function(ingr) { %>
                      <p><%= ingr %></p>
                      <% }) %>
                    </div>
                    <div class="desc"><%- item.desc %></div>
                  </div>
                </div>
              </a>
            </li>
          <% } %>
          </ul>
        </div>
      </div>
    </div>


    <!-- news start -->
    <div id="news" class="section">
      <div class="news-container container">
        <!-- <h2 class="section-head">最新新聞 <em class="shem">&#x00b6;</em></h2> -->
        <div class="news-top clearfix">
          <div id="news-slider" class="news-left fl-l anyslider">
            <!-- slider -->
            <div class="news-box">
              <a href="#" class="news-link">
                <img src="./assets/images/news/img201308151546150.jpg" alt="菲拉格慕2013秋冬秀场 简约酷感风" width="660" height="400">
                <div class="news-content">
                  <i class="news-bg"></i>
                  <div class="nc-inner">
                    <h3>菲拉格慕2013秋冬秀场 简约酷感风</h3>
                    <p>2013年秋冬时装周必定会出现的酷感都市风格，今日由菲拉格慕Salvatore Ferragamo2013</p>
                  </div>
                </div>
              </a>
            </div>
            <div class="news-box">
              <a href="#" class="news-link">
                <img src="./assets/images/news/img201308151546150.jpg" alt="菲拉格慕2013秋冬秀场 简约酷感风" width="660" height="400">
                <div class="news-content">
                  <i class="news-bg"></i>
                  <div class="nc-inner">
                    <h3>菲拉格慕2013秋冬秀场 简约酷感风</h3>
                    <p>2013年秋冬时装周必定会出现的酷感都市风格，今日由菲拉格慕Salvatore Ferragamo2013</p>
                  </div>
                </div>
              </a>
            </div>
            <div class="news-box">
              <a href="#" class="news-link">
                <img src="./assets/images/news/img201308151546150.jpg" alt="菲拉格慕2013秋冬秀场 简约酷感风" width="660" height="400">
                <div class="news-content">
                  <i class="news-bg"></i>
                  <div class="nc-inner">
                    <h3>菲拉格慕2013秋冬秀场 简约酷感风</h3>
                    <p>2013年秋冬时装周必定会出现的酷感都市风格，今日由菲拉格慕Salvatore Ferragamo2013</p>
                  </div>
                </div>
              </a>
            </div>
            <div class="news-box">
              <a href="#" class="news-link">
                <img src="./assets/images/news/img201308151546150.jpg" alt="菲拉格慕2013秋冬秀场 简约酷感风" width="660" height="400">
                <div class="news-content">
                  <i class="news-bg"></i>
                  <div class="nc-inner">
                    <h3>菲拉格慕2013秋冬秀场 简约酷感风</h3>
                    <p>2013年秋冬时装周必定会出现的酷感都市风格，今日由菲拉格慕Salvatore Ferragamo2013</p>
                  </div>
                </div>
              </a>
            </div>
          </div>
          <div class="news-right fl-r">
            <div class="text-news">
              <div class="t-n-hd">焦點資訊</div>
              <ul class="text-news-list">
                <li><a href="#">今起网上订购火车票不再显示姓名</a></li>
                <li><a href="#">上海一商务大厦顶楼起火</a></li>
                <li><a href="#">雷军：小米不能做太多产品</a></li>
                <li><a href="#">美国载124名乘客飞机降错机场</a></li>
              </ul>
            </div>            
            <div class="multi-news">
              <div class="img-box">
                <img src="assets/images/news/video-cover.jpg" alt="揭秘中国亿万富翁9大流派" width="320" height="220">
              </div>
              <!-- <p>揭秘中国亿万富翁9大流派</p> -->
            </div>
          </div>
        </div>
        <div class="news-bottom">
          <dl class="clearfix nbt-list">
            <dd class="nbt nbt1">
              <div class="news-box">
                <a href="#" class="news-link">
                  <img src="assets/images/news/img773479_1.jpg" alt="夢魅女士香水- 台灣" width="300" height="240">
                  <div class="news-content">
                    <i class="news-bg"></i>
                    <div class="nc-inner">
                      <h3>夢魅女士香水- 台灣</h3>
                      <p>夢魅女士香水. Hypnose魅惑女香最吸引人的莫過於紫色透明的精緻瓶身設計</p>
                    </div>
                  </div>
                </a>
              </div>
            </dd>
            <dd class="nbt nbt2">
              <div class="news-box">
                <a href="#" class="news-link">
                  <img src="assets/images/news/img20128141634347855304.jpg" alt="吃芹菜容易得过敏性皮炎吗" width="280" height="240">
                  <div class="news-content">
                    <i class="news-bg"></i>
                    <div class="nc-inner">
                      <h3>吃芹菜容易得过敏性皮炎吗</h3>
                      <p>人吃了光敏性食物，又接受了光照，引发过敏反应，发生了光敏性皮炎</p>
                    </div>
                  </div>
                </a>
              </div>
            </dd>
            <dd class="nbt nbt3">
              <div class="news-box">
                <a href="#" class="news-link">
                  <img src="assets/images/news/img51f623454965c_805.jpg" alt="【运动香水】运动香水" width="400" height="240">
                  <div class="news-content">
                    <i class="news-bg"></i>
                    <div class="nc-inner">
                      <h3>【运动香水】运动香水</h3>
                      <p>百科为大家介绍一下运动香水香型!作为男人,你如何选择运动香水香型</p>
                    </div>
                  </div>
                </a>
              </div>
            </dd>
          </dl>
        </div>
      </div>
    </div>
  </div>

  <div id="footer">
    <div id="footer-container" class="container clearfix">
      <ul id="footer-list">
        <% for (var i=0,il=menu.length; i< il; i++) { 
          var item = menu[i];
        %>
          <li class="fbn-item">
            <a href="?page=<%= item.path %>" title="<%= item.text %>" class="fbn-text" data-target="<%= item.path %>"><%= item.text %></a>
            <% if (item.sub) {
              var itemSub = item.sub;
            %>
              <dl>
                <% for(var j=0,jl=itemSub.length; j<jl; j++) {
                  var subItem = itemSub[j];
                %>
                  <dd><a href="<%= subItem.path %>" title="<%= subItem.text%>"><%= subItem.text %></a></dd>
                <% } %>
              </dl>
            <% } %>
          </li>
        <% } %>
      </ul>

      <div id="footer-bar">        
        <ul class="fl-r">
          <li><a href="#">負責聲明</a></li>
          <li><a href="#">聯系我們</a></li>
          <li><a href="#cn">中文</a> <a href="#english">English</a></li>
          <li>
            <a href="#" title="facebook"><i class="icon icon-facebook"></i></a>
            <a href="#" title="twitter"><i class="icon icon-twitter"></i></a>
            <a href="#" title="youtube"><i class="icon icon-youtube"></i></a>
            <a href="#" title="google+"><i class="icon icon-google"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="load-cover"><img src="assets/images/loading.gif" alt="loading" width="54" height="55" class="loading"></div>

  <script src="assets/js/jquery.js"></script>
  <script src="assets/js/jquery.history.js"></script>

  <script src="assets/3rd/LAB/LAB.js"></script>
  <script src="assets/js/thib.js"></script>
</body>
</html>