<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title><%= title %></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="assets/css/thibnews.css">
</head>
<body>
    <div id="news-nav">
        <header id="news-header">
            <a href="index.html"><h1 class="sn">Thibault</h1></a>
            <a href="company">Thibault品牌</a>
            <a href="collection">品牌曆史</a>
            <a href="collection">系列産品</a>
            <a href="news">品牌新聞</a>
        </header>
    </div>
    <div class="wrapper" id="news-wrapper">
        <ul id="news-list">
            <li>
                <a href="#">
                    <i>1</i><span>第86届奥斯卡颁奖红毯盛筵</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i>2</i><span>华人女星奥斯卡征程全回顾</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i>3</i><span>先生孩子再披婚纱的女星盘点</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i>4</i><span>亚洲男神榜金秀贤李敏镐提名</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i>5</i><span>倪妮童趣封面大片 爱神眷顾</span>
                </a>
            </li>
        </ul>
        <article class="news">
            <div class="headline">
                <h2 class="news-hd">硒鼓为轩压力机成团虽硒鼓是</h2>
                <p class="news-info gray">2014-03-05 21:39</p>
            </div>
            <div class="news-body clearfix">
                <p>中国元素的运用还是应该在传统中有所创新</p>
                <p>网易时尚：您的2014秋冬的大秀就快开始了，现在有什么感觉吗？</p>
                <p>王陈彩霞：之前会紧张，但是现在已经发布了很多季啦，所以已经不会紧张了，但是到秀前都会一直磨合修改，希望能够将发布做的更加完美。</p>
                <p>网易时尚：您在设计中一直都融合了东西方的文化，那是如何很好的将这两种文化融合到一起的呢？</p>
                <p>王陈彩霞：其实中国元素中，有很多元素和品质的运用其实是很新潮的，但是就是要看如何将古老的东西和新潮的东西结合在一起。其实很多中国人对中国元素的理解还是有误区，如果把古老的东西与古来的线条放在一起是不会被接受的，所以还是要有创新。</p>
                <p>网易时尚：所以是说所有的古老的东西都可以创新，怎么样做好创新都是一点一点摸索出来的？</p>
                <p>王陈彩霞：我这都是摸索了36年出来的，不断的坚持出来的。</p>
                <p>网易时尚：您平时都会从哪些方面寻找设计灵感？</p>
                <p>王陈彩霞：书的记载，工艺界的人留下了很多的工艺，食衣住行都是可以的，你都可以从这个中间去找到跟中国有关系的东西。 我记得这个是这个工匠他的心血留下来也是可以这样子，那些写书的人那些文人也是很厉害的，从那些书上我都可以找到我自己想要的东西。</p>
                <p>坚持才是成功唯一的途径</p>
                <p>网易时尚：很多中国设计师也都很喜欢用中国元素，但是在国际上的接受度似乎并不高，那您是如何做到成功的在巴黎甚至于世界其他地方立足的呢？</p>
                <p>王陈彩霞：我觉得不管是哪一种符号来做那个品牌的可比性，我觉得第一次不成功就要坚持第二次，一直坚持下去他就能够做到，那不然他第一次做不好第二次做不好第三次做不好他就会被打败的，他要一种不被打败的精神那他有一天就会把中国文化做的很好。</p>
                <p>网易时尚：所以您刚开始也有过那种挫败感？</p>
                <p>王陈彩霞：我那个时候就是吧中国的那个做出来我一直做，后来觉得自己怎么那么土，但是我就反复的做越挫越勇。</p>
                <p>网易时尚：所以坚持就是最后成功的原因。</p>
                <p>王陈彩霞：对，所以那些年轻的设计师应该坚持下去，有一天会发现中国的元素会那么厉害。</p>
                <p>夏姿·陈其实才刚刚起步</p>
                <p>网易时尚：那你现在对以后还有是规划和想法？您现在在国内和巴黎都发展的很不错。</p>
                <p>王陈彩霞：与现在的国际上的大牌来比它是刚刚起步，在市场上有很大的发展空间。我们是要很认真的去开发这个国内市场和国际市场。国内的市场现在发展差不多有二十几家距离一百家还有很多。现在国际上也是刚刚起步日本已经开了一家，新加坡还没有，但是慢慢都要开起来的。</p>
                <p>我的爱好其实很广泛</p>
                <p>网易时尚：不做设计的时候，您平时喜欢做什么？</p>
                <p>王陈彩霞：平时做什么？我算是会喜欢做运动的人有时候我会让自己轻松一下，我也很想去看电影，去逛逛博物馆啦，然后去跟朋友聊天啦，有很多事情可以做到的。</p>
            </div>
            <div class="news-link">
                <a href="#prev" class="prev">上一篇：可以做到的</a>
                <a href="#next" class="next">下一篇：四款T台潮流发型</a>
            </div>
        </article>


        <footer id="news-footer">
            <div id="footer-container" class="clearfix">
                <ul id="footer-list">
                    <li class="fbn-item">
                        <a href="company" title="Thibault品牌" class="fbn-text" data-target="company">Thibault品牌</a>
                    </li>
                    <li class="fbn-item">
                        <a href="archives" title="品牌曆史" class="fbn-text" data-target="archives">品牌曆史</a>
                        <dl>
                          <dd><a href="archives-1989-1999" title="1989~1999">1989~1999</a></dd>
                          <dd><a href="archives-1999-2014" title="2000~2014">2000~2014</a></dd>
                        </dl>
                    </li>
                    <li class="fbn-item">
                        <a href="collection" title="系列産品" class="fbn-text" data-target="collection">系列産品</a>
                        <dl>
                            <dd><a href="collection-men" title="男士香水">男士香水</a></dd>
                            <dd><a href="collection-women" title="女士香水">女士香水</a></dd>
                        </dl>
                    </li>
                    <li class="fbn-item">
                        <a href="news" title="品牌新聞" class="fbn-text" data-target="news">品牌新聞</a>
                    </li>
                </ul>
                <div id="footer-bar">
                    <ul class="fl-r">
                        <li><a href="#">負責聲明</a></li>
                        <li><a href="#">聯系我們</a></li>
                        <li><a href="#cn">中文</a> <a href="#english">English</a></li>
                        <li>
                            <a href="#" title="facebook"><i class="icon icon-facebook"></i></a>
                            <a href="#" title="twitter"><i class="icon icon-twitter"></i></a>
                            <a href="#" title="youtube"><i class="icon icon-youtube"></i></a>
                            <a href="#" title="google+"><i class="icon icon-google"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </footer>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<scr'+'ipt src="assets/js/jquery.js"><\/sc'+'ript>')</script>
</body>
</html>