<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title><%= title %></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="assets/css/thibprod.css">
</head>
<body>
    <div class="wrapper" id="prod-wrapper">
        <div class="prod container">
            <div id="prod-nav">
                <header>
                    <a href="/" class="home">←</a>
                    <h1 class="sn">
                        <a href="/">Thibault</a>
                    </h1>
                    <hr class="nav-hr">
                    <dl class="prod-nav-list">
                      <dt>男士香水</dt>
                        <dd><a href="#1" data-id="men-1">Thibault（能量）男士香水</a></dd>
                        <dd><a href="#2" data-id="men-2">Thibault（古龍）男士香水</a></dd>
                        <dd><a href="#3" data-id="men-3">Thibault（海風）男士香水</a></dd>
                        <dd><a href="#4" data-id="men-4">Thibault（夜醉）男士香水</a></dd>
                    </dl>
                    <hr class="nav-hr">
                    <dl class="prod-nav-list">
                      <dt>女士香水</dt>
                        <dd><a href="#1" data-id="men-1">Thibalt（風情時刻）女士香水</a></dd>
                        <dd><a href="#2" data-id="men-2">Thibalt（迷情公主）女士香水</a></dd>
                    </dl>
                </header>
                <div id="nav-footer">
                    <ul>
                        <li><a href="#">負責聲明</a></li>
                        <li><a href="#">聯系我們</a></li>
                        <li><a href="#cn">中文</a> <a href="#english">English</a></li>
                        <li>
                            <a href="#" title="facebook"><i class="icon icon-facebook"></i></a>
                            <a href="#" title="twitter"><i class="icon icon-twitter"></i></a>
                            <a href="#" title="youtube"><i class="icon icon-youtube"></i></a>
                            <a href="#" title="google+"><i class="icon icon-google"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="prod-rt clearfix">
                <div class="prod-photo">
                    <span class="poto-wrapper">
                        <img src="assets/images/collection/6365433_101240609138_2.jpg" alt="" width="540" height="380">
                    </span>
                </div>
                <div class="prod-info">
                    <h2 class="pd-hd">Thibaltt（能量）男士香水，彰显气质非凡</h2>
                    <ul class="info-list">
                        <li>【香 調】清新東方香調</li>
                        <li>【前 調】佛手柑、西西裏柑橘、突尼西亞澄花</li>
                        <li>【中 調】馬達加斯加黑胡椒</li>
                        <li>【後 味】西洋杉、香根草</li>
                    </ul>
                    <div class="prod-detail">
                        <p>Thibault男士香水能量以獨特的香調：清新調、性感調、木香調與辛辣調，創意調制成Thibault男性傳遞正能量經典香水。這個由清新香氛主導，營造全新層次的性感魅力。內含多層香氣，充滿清新氣息的柑橘調、極具感性調子的琥珀香、別具個人風格的木香調，濃厚的中調馬達加斯加黑胡椒傳遞而來的和熙辛辣香。活力四射的清新調，透露出壹股自然出色的性感能量，如春風般觸摸著肌膚…營造絕對性感的誘惑力。</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<scr'+'ipt src="assets/js/jquery.js"><\/sc'+'ript>')</script>
</body>
</html>