body {
    font: 14px arial, 微軟正黑體, sans-serif;
    /*12px/1 Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif;*/
    color: #222;
}

a {
    color:#B1B1B1;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    /*border-bottom: 1px solid #CECE00;*/
    color: #FFF;
    -webkit-transition: color .25s ease-in-out;
       -moz-transition: color .25s ease-in-out;
        -ms-transition: color .25s ease-in-out;
         -o-transition: color .25s ease-in-out;
            transition: color .25s ease-in-out;
}
img {
    vertical-align: middle;
}
a img {
    border: 0;
}
.fl-l {
    float: left;
}
.fl-r {
    float: right;
}

/**
 * container && clearfix
 */
.container {
    width:1000px;
    margin:0 auto;
}
.clearfix:after, .container:after {
    content:"\0020";
    display:block;
    height:0;
    clear:both;
    visibility:hidden;
    overflow:hidden;
}
.clearfix, .container {
    display:block;
}
.clear {
    clear:both;
}

.load-error {
    position: absolute;
    left: 50%;
    top: 50%;
    padding: 3px 6px;
    color: #fff;
    background-color: #F08200;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 0 5px #f90;
    -moz-box-shadow: 0 0 5px #f90;
    box-shadow: 0 0 5px #f90;
}

::-webkit-scrollbar-track-piece{
    background-color:#000;
    -webkit-border-radius:0;
}
::-webkit-scrollbar{
    width:14px;
    height:14px;
}
::-webkit-scrollbar-thumb{
    height:50px;
    background-color:#999;
    -webkit-border-radius:8px;
    /*outline:2px solid #000;*/
    outline-offset:-2px;
    border: 2px solid #222;
}
::-webkit-scrollbar-thumb:hover{
    height:50px;
    background-color:#9f9f9f;
    -webkit-border-radius:8px;
}
