/*footer*/
.icon-xl {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    width: 32px;
    height: 32px;
}
#footer {
    position: absolute;
    z-index: 10;
    left: 0;
    bottom: 0;
    width: 100%;
    background: #222;
    -webkit-box-shadow: 0 -5px 9px 1px rgba(20,20,20,0.1);
    -moz-box-shadow: 0 -5px 9px 1px rgba(20,20,20,0.1);
    box-shadow: 0 -5px 9px 1px rgba(20,20,20,0.1);
}
#footer-list {
    width: 60%;
    float: left;
}
#footer-bar {
    width: 40%;
    float: left;
}
#footer-list li{
    position: relative;
    display: inline;
    float: left;
    width: 20%;
}
#footer-list dl {
    position: absolute;
    top:0px;
    height: 0;
    overflow: hidden;
    -webkit-transition: all .25s ease-in-out;
       -moz-transition: all .25s ease-in-out;
        -ms-transition: all .25s ease-in-out;
         -o-transition: all .25s ease-in-out;
            transition: all .25s ease-in-out;
}
#footer-list .dl-hover dl {
    top: -70px;
    height: auto;
    -webkit-transition: all .25s ease-in-out;
       -moz-transition: all .25s ease-in-out;
        -ms-transition: all .25s ease-in-out;
         -o-transition: all .25s ease-in-out;
            transition: all .25s ease-in-out;
}
#footer-list dd a {
    color: #999;
}
#footer-list li a,#footer-bar li a {
    line-height: 2;
    font-size: 1em;
}
#footer-bar li {
    float: left;
    margin-left: 1em;
}
#footer-bar li a {
    color: #999;
}
.icon-facebook {
    background: url(./img/facebook.png) 0 0 no-repeat;
}
.icon-twitter {
    background: url(./img/twitter.png) 0 0 no-repeat;
}
.icon-youtube {
    background: url(./img/youtube.png) 0 0 no-repeat;
}
.icon-google {
    background: url(./img/google+.png) 0 0 no-repeat;
}
