#main-wrapper {
    margin-top: 36px;
    background-color: #fff;
    border: 1px solid #c8c8c8;
    margin-bottom: 20px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 2px 3px 2px rgba(50,50,50,0.2);
    -moz-box-shadow: 2px 3px 2px rgba(50,50,50,0.2);
    box-shadow: 2px 3px 2px rgba(50,50,50,0.2);
    min-height: 650px;
}

#col-side,
#col-content {
    height: 650px;
    display: table-cell;
    vertical-align: top;
}
#col-side {
    background: #f2f2f2;
    width: 19%;
    min-height: 1px;
    border-right: 1px solid #d1d1d1;
}
#col-content {
    width: 900px;
    overflow: hidden;
    background-color: #fff;
}