html {
    overflow: hidden;
}
body {
    background: #202020;
    color: #e2e2e2;
    overflow: hidden;
}
ul {list-style: none;}
ul, ol, ul li, ol li, dl dt, dl dd {
    margin: 0;
    padding: 0;
}
body.no-ready {
    overflow: hidden;
}
.hide {
    display: none;
}
.vh {
    visibility: hidden;
}
.animated{-webkit-animation-fill-mode:both;-moz-animation-fill-mode:both;-ms-animation-fill-mode:both;-o-animation-fill-mode:both;animation-fill-mode:both;-webkit-animation-duration:1s;-moz-animation-duration:1s;-ms-animation-duration:1s;-o-animation-duration:1s;animation-duration:1s;}
.gray {
    color: #gray;
}
@-webkit-keyframes titleflash {
    0%, 50%, 100% {text-shadow: #E2C43E 0 0 0;}
    25%, 75% {text-shadow: 0 0 35px #E2C43E;}
}
@-moz-keyframes titleflash {
    0%, 50%, 100% {text-shadow: #E2C43E 0 0 0;}
    25%, 75% {text-shadow: 0 0 35px #E2C43E;}
}
@-o-keyframes titleflash {
    0%, 50%, 100% {text-shadow: #E2C43E 0 0 0;}
    25%, 75% {text-shadow: 0 0 35px #E2C43E;}
}
@keyframes titleflash {
    0%, 50%, 100% {text-shadow: #E2C43E 0 0 0;}
    25%, 75% {text-shadow: 0 0 35px #E2C43E;}
}
@-webkit-keyframes hdBgFadeIn {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-800px);
    }
    
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
    }
}

@-moz-keyframes hdBgFadeIn {
    0% {
        opacity: 0;
        -moz-transform: translateY(-800px);
    }
    
    100% {
        opacity: 1;
        -moz-transform: translateY(0);
    }
}

@-o-keyframes hdBgFadeIn {
    0% {
        opacity: 0;
        -o-transform: translateY(-800px);
    }
    
    100% {
        opacity: 1;
        -o-transform: translateY(0);
    }
}

@keyframes hdBgFadeIn {
    0% {
        opacity: 0;
        transform: translateY(-1000px);
    }
    
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
@-webkit-keyframes hdFadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(80px);
    }
    
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
    }
}

@-moz-keyframes hdFadeInUp {
    0% {
        opacity: 0;
        -moz-transform: translateY(80px);
    }
    
    100% {
        opacity: 1;
        -moz-transform: translateY(0);
    }
}

@-o-keyframes hdFadeInUp {
    0% {
        opacity: 0;
        -o-transform: translateY(80px);
    }
    
    100% {
        opacity: 1;
        -o-transform: translateY(0);
    }
}

@keyframes hdFadeInUp {
    0% {
        opacity: 0;
        transform: translateY(80px);
    }
    
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@-webkit-keyframes sectionForward {
    0% { -webkit-transform: translateX(2000px); }
    100% { -webkit-transform: translateX(0); }
}
@-moz-keyframes sectionForward {
    0% { -moz-transform: translateX(2000px); }
    100% { -moz-transform: translateX(0); }
}
@-ms-keyframes sectionForward {
    0% { -ms-transform: translateX(2000px); }
    100% { -ms-transform: translateX(0); }
}
@-o-keyframes sectionForward {
    0% { -o-transform: translateX(2000px); }
    100% { -o-transform: translateX(0); }
}
@keyframes sectionForward {
    0% { transform: translateX(2000px); }
    100% { transform: translateX(0); }
}

@-webkit-keyframes sectionOut {
    0% { -webkit-transform: translateX(0); }
    100% { -webkit-transform: translateX(-2000px); }
}
@-moz-keyframes sectionOut {
    0% { -moz-transform: translateX(0); }
    100% { -moz-transform: translateX(-2000px); }
}
@-ms-keyframes sectionOut {
    0% { -ms-transform: translateX(0); }
    100% { -ms-transform: translateX(-2000px); }
}
@-o-keyframes sectionOut {
    0% { -o-transform: translateX(0); }
    100% { -o-transform: translateX(-2000px); }
}
@keyframes sectionOut {
    0% { transform: translateX(0); }
    100% { transform: translateX(-2000px); }
}

@-webkit-keyframes sectionBack {
    0% { -webkit-transform: translateX(-2000px); }
    100% { -webkit-transform: translateX(0); }
}
@-moz-keyframes sectionBack {
    0% { -moz-transform: translateX(-2000px); }
    100% { -moz-transform: translateX(0); }
}
@-ms-keyframes sectionBack {
    0% { -ms-transform: translateX(-2000px); }
    100% { -ms-transform: translateX(0); }
}
@-o-keyframes sectionBack {
    0% { -o-transform: translateX(-2000px); }
    100% { -o-transform: translateX(0); }
}
@keyframes sectionBack {
    0% { transform: translateX(-2000px); }
    100% { transform: translateX(0); }
}

@-webkit-keyframes sectionIn {
    0% { -webkit-transform: translateX(0); }
    100% { -webkit-transform: translateX(2000px); }
}
@-moz-keyframes sectionIn {
    0% { -moz-transform: translateX(0); }
    100% { -moz-transform: translateX(2000px); }
}
@-ms-keyframes sectionIn {
    0% { -ms-transform: translateX(0); }
    100% { -ms-transform: translateX(2000px); }
}
@-o-keyframes sectionIn {
    0% { -o-transform: translateX(0); }
    100% { -o-transform: translateX(2000px); }
}
@keyframes sectionIn {
    0% { transform: translateX(0); }
    100% { transform: translateX(2000px); }
}

/*header*/
#home, #comany {
    overflow: hidden;
    height: 100%;
    min-height: 768px;
    background: #020202;
}
.home-inner {
    position: relative;
    height: 768px;
    width: 960px;
    margin: -380px auto 0 auto;
    top: 50%;
}
#company {
    background: #020202 url(img/bg5.jpg) 50% 0 repeat fixed;
}
#c1, #c2 {
    position: relative;
    z-index: 2;
    font-size: 20px;
    padding: 20px;
    -webkit-transform: translateY(0);
       -moz-transform: translateY(0);
        -ms-transform: translateY(0);
         -o-transform: translateY(0);
            transform: translateY(0);
    -webkit-transition: all .5s ease-in-out;
       -moz-transition: all .5s ease-in-out;
        -ms-transition: all .5s ease-in-out;
         -o-transition: all .5s ease-in-out;
            transition: all .5s ease-in-out;
}
#c1 {
    margin: 120px 30px 0 170px;
    color: #aaa;
    background-color: #3F3A00;
}
#c2 {
    color: #888;
    background-color: #332302;
    margin: 60px 160px 0 80px;
    text-align: right;
}
#c1:hover, #c2:hover {
    -webkit-transform: translateY(-30px);
       -moz-transform: translateY(-30px);
        -ms-transform: translateY(-30px);
         -o-transform: translateY(-30px);
            transform: translateY(-30px);
    -webkit-transition: all .5s ease-in-out;
       -moz-transition: all .5s ease-in-out;
        -ms-transition: all .5s ease-in-out;
         -o-transition: all .5s ease-in-out;
            transition: all .5s ease-in-out;
}
#company-rg {
    position: absolute;
    z-index: 1;
    width: 200px;
    height: 200px;
    background-color: #160E03;
    margin-left: 400px;
    margin-top: 140px;
     -moz-transform:    skewX(66deg);
     -o-transform:      skewX(66deg);
     -webkit-transform: skewX(66deg);
     transform:         skewX(66deg);

    -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=1, M12=2.2460367739042137, M21=0, M22=1, SizingMethod='auto expand')";
    filter: progid:DXImageTransform.Microsoft.Matrix(
            M11=1,
            M12=2.2460367739042137,
            M21=0,
            M22=1,
            SizingMethod='auto expand');

}
#ch {font-size: 16px;}
.sc-bg {
    position: absolute;
}
.header-bg {
    /*background:#020202 url(img/hdg-5.jpg) 50% 240px no-repeat fixed;*/
    width: 100%;
    height: 740px;
    z-index: 1;
}
#hdimg {
    position: relative;
    display: block;
    /*margin: 250px auto 0 auto;*/
    left: 50%;
    margin: 250px 0 0 -250px;
}
.load-cover {
    background: #020202;
    position: absolute;
    z-index: 10;
    width: 100%;
    height: 100%;
    left:0;
    top:0;
    text-align: center;
}
.load-cover.hide {
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-animation: sectionOut 1s;
    -o-animation: sectionOut 1s;
    animation: sectionOut 1s;
}
.loading {
    position: relative;
    top: 50%;
    margin: 0 auto;
} 
.header-bg.hdBgFadeIn {
    -webkit-animation-name: hdBgFadeIn;
    -moz-animation-name: hdBgFadeIn;
    -o-animation-name: hdBgFadeIn;
    animation-name: hdBgFadeIn;
    -webkit-animation-duration: 5s;
    -moz-animation-duration: 5s;
    -o-animation-duration: 5s;
    animation-duration: 5s;
}
.header-container.hdFadeInUp {
    -webkit-animation-name: hdFadeInUp;
    -moz-animation-name: hdFadeInUp;
    -o-animation-name: hdFadeInUp;
    animation-name: hdFadeInUp;
    -webkit-animation-delay: 3s;
    -moz-animation-delay: 3s;
    -o-animation-delay: 3s;
    animation-delay: 3s;
    -webkit-animation-duration: 2s;
    -moz-animation-duration: 2s;
    -o-animation-duration: 2s;
    animation-duration: 2s;
}
.header-container {
    position: relative;
    z-index: 2;
}
#title {
    /*text-indent: -99em;*/
    /*background: url(img/logo-w.png) 50% 72% no-repeat;*/
    text-align: center;
    font: normal normal normal 5em/1.5 'Times New Roman', serif;
    text-transform: uppercase;
    padding-top: 60px;
    /*color: #CECECE;*/
    color: #CECE00;
    letter-spacing: 0.2em;
    text-shadow: #E2C43E 0 0 9px;
    -webkit-animation: titleflash 6s ease-in-out 0 infinite normal;
       -moz-animation: titleflash 6s ease-in-out 0 infinite normal;
        -ms-animation: titleflash 6s ease-in-out 0 infinite normal;
         -o-animation: titleflash 6s ease-in-out 0 infinite normal;
            animation: titleflash 6s ease-in-out 0 infinite normal;
}
/*#title:hover {
    color: #CECE00;
    text-shadow: 0 0 35px #E2C43E;
    -webkit-transition: all .25s ease-in-out;
       -moz-transition: all .25s ease-in-out;
        -ms-transition: all .25s ease-in-out;
         -o-transition: all .25s ease-in-out;
            transition: all .25s ease-in-out;
}*/
#nav .menu {
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 80%;
    left: 10%;
}
#nav .menu-item {
    display: inline;
    float: left;
    width: 20%;
    text-align: center;
}
#nav .menu-item a {
    color: #aaa;
    /*color: #CECE00;*/
    font-size: 1.4em;
}
#nav .menu-item a:hover {
    /*color: #CECE00;*/
    color: #DFE5E8;
    /*color: #fff;*/
}
#nav .menu-active a {
    color: #fff;
}
#nav .sub-menu {
    display: none;
    clear: both;
    padding-top: 1em;
}
#nav .sub-menu a {
    font-size: 1.2em;
}
#nav .menu-item-hover .sub-menu,
#nav .menu-item:hover .sub-menu {
    display: block;
}
#top-bar {
    position: absolute;
    z-index: 2;
    top: 6px;
    right: 9px;
    margin: 0;
    padding: 0;
    list-style: none;
}
#top-bar li {
    display: inline;
    float: left;
    margin: 0 6px;
}
#top-bar li, #top-bar a {
    color: #aaa;
}
.icon {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    width: 16px;
    height: 16px;
    vertical-align: middle;
}
.icon-mini {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    width: 12px;
    height: 12px;
    vertical-align: middle;
}

#archives {
    background: #222;
}
.archives-container {
    overflow-x: hidden;
}
#news {
    background: #333 url(img/bg.png) 0 0 repeat;
    overflow-x: hidden;
}
.text-news {
    background:#444 url(img/essay_right.png) 280px 20px no-repeat;
    padding: 20px 30px;
}
.text-news .t-n-hd {
    position: relative;
    line-height: 30px;
    height: 30px;
    left: -30px;
    padding-left: 27px;
    font-size: 1.2em;
    border-left: 3px solid #000;
}
.text-news-list {
    height: 90px;
}
.text-news-list li a {
    color: #aaa;
}
.multi-news {
    background: #444;
    margin-top: 20px;
}
.section {
    position: absolute;
    width: 100%;
    height: 100%;
    display: none;
    margin-bottom: 40px;
    overflow-x: hidden;
    text-align: center;
}
.home-inner,
.company-container,
.archives-container,
.collection-container,
.news-container,
#footer-container {
    text-align: left;
}
body .section-active {
    display: block;
    z-index: 9;
}
body .section-forward {
    display: block;
    -webkit-animation-name: sectionForward;
    -moz-animation-name: sectionForward;
    -o-animation-name: sectionForward;
    animation-name: sectionForward;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s;
}
body .section-back {
    display: block;
    -webkit-animation-name: sectionBack;
    -moz-animation-name: sectionBack;
    -o-animation-name: sectionBack;
    animation-name: sectionBack;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s;
}
body .section-out {
    display: block;
    -webkit-animation-name: sectionOut;
    -moz-animation-name: sectionOut;
    -o-animation-name: sectionOut;
    animation-name: sectionOut;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s;
}
body .section-in {
    display: block;
    -webkit-animation-name: sectionIn;
    -moz-animation-name: sectionIn;
    -o-animation-name: sectionIn;
    animation-name: sectionIn;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s;
}
.section-head {
    /*color: #b1b1b1;*/
    font-size: 1.2em;
    line-height: 1.6;
    letter-spacing: 2px;
    border-bottom: 1px dashed #000;
}
.shem {
    color: #ccc;
    font-style: normal;
}
/*anyslider*/
.anyslider {
    -ms-touch-action: none;
    overflow: visible;
    position: relative;
    touch-action: none;
}
.as-slide-box {
    overflow: hidden;
}
.as-prev-arrow, .as-next-arrow {
    /*background: url(./img/arrows.png) no-repeat;*/
    background: url(./img/bg_project-slider_nav.png) -50px 0 no-repeat;
    cursor: pointer;
    -ms-filter: alpha(opacity=0);
    filter: alpha(opacity=0);
    height: 60px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    text-indent: 100%;
    top: 50%;
    margin-top: -20px;
    white-space: nowrap;
    width: 60px;
    z-index: 10;
}
.as-prev-arrow {
    left: 0;
}
.as-next-arrow {
    background-position: 0 -180px;
    right: 0;
}

.collection-box .as-prev-arrow,
.collection-box .as-next-arrow,
.anyslider:hover .as-prev-arrow,
.anyslider:hover .as-next-arrow {
    filter: alpha(opacity=1);
    -ms-filter: alpha(opacity=1);
    opacity: 1;
}
.collection-box .as-prev-arrow {
    left: -80px;
    background-position: -50px -60px;
}
.collection-box .as-next-arrow {
    right: -80px;
    background-position: 0 -240px;
}
.collection-box .as-prev-arrow:hover {
    background-position: -50px -120px;
}
.collection-box .as-next-arrow:hover {
    background-position: 0 -300px;
}
.as-nav {
    position: absolute;
    bottom: -10px;
    left: 50%;
    margin-left: -27px;
    text-align: left;
    width: 54px;
    z-index: 1;
}

a.as-active, .as-nav a:hover {
    background-position: 0 -16px;
}
/* /anyslider */

.news-box {
    position: relative;
    overflow: hidden;
}
.news-box .news-link {
    position: relative;
    display: block;
    line-height: 1;
    text-decoration: none;
}
.news-box .news-content {
    position: absolute;
    bottom: 0;
    width: 100%;
    /*opacity: 0;*/
    left: 100%;
    -webkit-transition: all .25s ease-in-out;
       -moz-transition: all .25s ease-in-out;
        -ms-transition: all .25s ease-in-out;
         -o-transition: all .25s ease-in-out;
            transition: all .25s ease-in-out;
}
.news-bottom .news-link .news-content {
    left: -100%;
}
.news-box .news-link:hover .news-content,
.news-box .news-link:active .new-content{
    /*all: 1;*/
    left: 0;
    -webkit-transition: all .25s ease-in-out;
       -moz-transition: all .25s ease-in-out;
        -ms-transition: all .25s ease-in-out;
         -o-transition: all .25s ease-in-out;
            transition: all .25s ease-in-out;
} 
.news-box img {
    vertical-align: baseline;
    display: block;
}
.news-content .news-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: #C0C0C0;
    opacity: 0.9;
    -ms-filter: Alpla(opacity=90);
    filter: Alpla(opacity=90);
}
.news-box .nc-inner {
    position: relative;
    z-index: 2;
    color: #2e2e2e;
    padding: 0 10px;
    overflow: hidden;
}
.news-box .news-content h3 {
    margin-bottom: 0;
    margin-top: 1em;
}
.news-container{
    padding-top: 5px;
    /*padding-bottom: 40px;*/
}
#news .news-left {
    width: 660px;
    height: 400px;
    overflow: hidden;
}
#news .news-right {
    width: 320px;
    height: 400px;
}
#news .news-bottom {
    margin-top: 20px;
    margin-bottom: 10px;
}
#news .nbt-list {
    width: 120%;
}
#news .nbt {
    float: left;
    /*width: 33%;*/
    margin-right: 10px;
    height: 240px;
}

/*colloection*/
#collection {
    overflow: hidden;
    background: #000 url(img/bg.png) 0 0 repeat;
}
/*左边导航*/
#prod-nav {
    /*position: fixed;*/
    position: absolute;
    top: 15px;
    left: 0;
    width: 300px;
    height: 100%;
    text-align: center;
    /*height: 645px;*/
    /*padding-bottom: 150px;*/
}
/*#prod-nav header {
    background-color: #231f20;
}*/
.sn {
    padding-top: 180px;
    margin-bottom: 1em;
}
#prod-nav .sn a {
    color: #aaa;
}
.nav-hr {
    width: 10em;
    border-color: #333;
}
.prod-nav-list {
    /*padding: 12px;*/
    color: #777;
    font: 12px arial;
    line-height: 2;
}
.prod-nav-list dt {
    font-size: 14px;
    color: #999;
    letter-spacing: 2px;
}
#nav-footer {
    margin-top: 40px;
    font-size: 12px;
}
#prod-nav a {
    color: #777;
}
#prod-nav a:hover {
    color: #aaa;
}

/*右边图文*/
#prod-wrapper {
    /*background: url(img/prod-bg.jpg) 0 0 no-repeat;*/
    /*background: url(img/1229586950.jpg) 0 0 repeat;*/
    /*background: rgba(225,225,225,0.75);*/
    /*position: absolute;*/
    /*margin-left: 310px;*/
    position: absolute;
    overflow-x: hidden;
    overflow-y: auto;
    height: 100%;
    width: 100%;
    left: 320px;
    /*padding: 20px 0;*/
    /*width: 760px;*/
    margin: 0;
    background-color: #fff;
}
.collection-nav {
    width: 220px;
    position: fixed;
    /*text-align: right;*/
}
.collection-nav dl {
    margin:0px;
}
.collection-nav dt {
    font-size: 1.2em;
    color: #eee;
    margin-bottom: 0.5em;
}
.collection-nav dd {
    display: list-item;
    list-style-position: inside;
    list-style-type: circle;
    font-size: 1em;
    color: #d1d1d1;
}
.collection-box {
    overflow: hidden;
    clear: both;
}
.collection-list{
    /*float: right;*/
    max-width: 960px;
    margin: 0;
    padding: 0;
}
.man-list {
    margin-bottom: 50px;
}
.collection-box li {
    width: 320px;
    margin-bottom: 20px;
    display: inline;
    float: left;
}
.collection-box li a {
    position: relative;
    display: block;
    width: 320px;
    height: 300px;  
    overflow: hidden;
}

.unit_front,.unit_back{position:absolute;left:0;top:0;width:100%;height:100%;transition:all .3s;-webkit-transition:all .3s;-moz-transition:all .3s;-o-transition:all .3s;transform-origin:center center;-webkit-transform-origin:center center;-moz-transform-origin:center center;-o-transform-origin:center center;transform:scale(1,1);-webkit-transform:scale(1,1);-moz-transform:scale(1,1);-o-transform:scale(1,1)}
.back{transform:scale(0,1);-webkit-transform:scale(0,1);-moz-transform:scale(0,1);-o-transform:scale(0,1);}

.collection-box li img {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    display: block;
    width: 320px;
    height: 300px;
/*    -webkit-transition: all .15s ease-in-out;
       -moz-transition: all .15s ease-in-out;
        -ms-transition: all .15s ease-in-out;
         -o-transition: all .15s ease-in-out;
            transition: all .15s ease-in-out;*/
}
/*.collection-box li a:hover img {
    zoom: 1.1;
    left: -5%;
    top: -5%;
    -webkit-transition: all .05s ease-in-out;
       -moz-transition: all .05s ease-in-out;
        -ms-transition: all .05s ease-in-out;
         -o-transition: all .05s ease-in-out;
            transition: all .05s ease-in-out;
}*/
.collection-box li span {
    /*display: none;*/
    text-align: center;
    color: #eee;
    font-size: 1.2em;
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
    padding: 0 10%;
    top: 50%;
    margin-top: -0.5em;
    /*opacity: 0;*/
/*    -ms-filter: alpha(opacity=0);
    filter: alpha(opacity=0);
    -webkit-transition: all .25s ease-in-out;
       -moz-transition: all .25s ease-in-out;
        -ms-transition: all .25s ease-in-out;
         -o-transition: all .25s ease-in-out;
            transition: all .25s ease-in-out;*/
}
/*.collection-box li a:hover span,
.collection-box li a:hover span {
    opacity: 1;
    -ms-filter:Alpla(opacity=100);
    filter:Alpla(opacity=100);
    -webkit-transition: all .25s ease-in-out;
       -moz-transition: all .25s ease-in-out;
        -ms-transition: all .25s ease-in-out;
         -o-transition: all .25s ease-in-out;
            transition: all .25s ease-in-out;
}*/
.collection-box .back-inner {
    padding: 10px;
    font-size: 12px;
    color: #e8e8e8;
}
.collection-box .front {
    transition-delay: 0.12s;
    -webkit-transition-delay: 0.15s;
}
.collection-box .name {
    font-size: 16px;
}
.collection-box .ingredient p {
    margin: 0;
}
.collection-box .unit_back {background-color: #333;}
.collection-box li i {
    position: absolute;
    /*z-index: 1;*/
    width: 100%;
    height: 100%;
    left: 0%;
    top: 0;
    background: #333121;
    /*opacity: 0;*/
/*    -ms-filter: Alpla(opacity=0);
    filter: Alpla(opacity=0);
    -webkit-transition: all .25s ease-in-out;
       -moz-transition: all .25s ease-in-out;
        -ms-transition: all .25s ease-in-out;
         -o-transition: all .25s ease-in-out;
            transition: all .25s ease-in-out;*/
}
/*.collection-box li a:hover i,
.collection-box li a:active i{
    opacity: 0.8;
    -ms-filter: Alpla(opacity=80);
    filter: Alpla(opacity=80);
    -webkit-transition: all .25s ease-in-out;
       -moz-transition: all .25s ease-in-out;
        -ms-transition: all .25s ease-in-out;
         -o-transition: all .25s ease-in-out;
            transition: all .25s ease-in-out;
}*/
.prod-main {
    position: relative;
    width: 960px;
    /*height: 320px;*/
    margin-bottom: 50px;
}
.prod-main .toggler {
    position: absolute;
    right: 0;
    bottom: -2em;
    width: 2em;
    height: 2em;
    text-align: center;
    line-height: 2;
    background-color: #3F3F3F;
    color: #fff;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.prod-rt {
    position: relative;
    top: 120px;
    left: 30px;
    width: 930px;
    height: 760px;
    /*padding: 120px 20px 20px 30px;*/
}
.prod {
    font-family: sans-serif;
    overflow: hidden;
    padding: 20px 40px;
    background: rgb(225,225,225);
}
.prod .headline {
    border-bottom: 1px solid #ccc;
}
.prod-body {
    /*margin-top: 100px;*/
    /*height: 100%;*/
}
.prod-photo {
    text-align: center;
    position: relative;
    float: left;
    width: 600px;
}
.prod-photo img {
    /*background: #000 url(./img/bg1.png) 0 0 repeat;*/
    background: #222;
    padding: 12px;
    border: 1px solid #333;
/*    -webkit-box-shadow: 0px -2px 15px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px -2px 15px rgba(0,0,0,0.5);
    box-shadow: 0px -2px 15px rgba(0,0,0,0.5);*/
}
.ps-nav {
    position: absolute;
    width: 320px;
    left: 600px;
    /*margin-top: 20px;*/
    margin-right: 10px;
    background-color: #fff;
    /*float: right;*/
}
.ps-nav span {
    position: absolute;
    font: 28px arial, sans-serif;
    color: #999;
    float: left;
    background-color: #000;
    width: 24px;
    height: 24px;
    text-align: center;
    line-height: 24px;
}
.ps-nav .left {
    left:0px
}
.ps-nav .right {
    right:0px
}
.pd-hd {
    font-size: 14px;
    color: #fff;
}
.pv-h {
    font-size: 14px;
}
.prod-info {
    color: #e2e2e2;
    padding: 10px;
    background: rgba(60,60,60,.85);
    float: left;
    width: 300px;
}
.prod-info .info-list {
    font-family: 微軟正黑體;
    margin-top: 20px;
    padding: 10px 5px;
    border: 1px solid #888;
    border-width: 1px 0;
    height: 105px;
    color: #e2e2e2;
}
.prod-detail {
    font-family: 微軟正黑體;
    color: #e2e2e2;
    font-size: 14px;
}
.prod-body ul {
    position: relative;
    margin:0px
    padding:0px
}
.prod-body li {
    background-color: #fff;
    width: 50%;
    display: inline;
    float: left;
}
.prod-body li img{
    width: 290px;
    height: 290px;
}


/*footer*/
.icon-xl {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    width: 32px;
    height: 32px;
}
#footer {
    position: absolute;
    z-index: 10;
    left: 0;
    bottom: 0;
    width: 100%;
    background: #222;
    -webkit-box-shadow: 0 -5px 9px 1px rgba(20,20,20,0.1);
    -moz-box-shadow: 0 -5px 9px 1px rgba(20,20,20,0.1);
    box-shadow: 0 -5px 9px 1px rgba(20,20,20,0.1);
    text-align: center;
}
#footer-list {
    width: 60%;
    float: left;
}
#footer-bar {
    width: 40%;
    float: left;
}
#footer-list li{
    position: relative;
    display: inline;
    float: left;
    padding: 0 20px;
}
#footer-list dl {
    position: absolute;
    top:20px;
    *left: -20px;
    height: 0;
    overflow: hidden;
    -webkit-transition: all .25s ease-in-out;
       -moz-transition: all .25s ease-in-out;
        -ms-transition: all .25s ease-in-out;
         -o-transition: all .25s ease-in-out;
            transition: all .25s ease-in-out;
}
#footer-list .dl-hover dl {
    top: -70px;
    *top: -50px;
    height: auto;
    -webkit-transition: all .25s ease-in-out;
       -moz-transition: all .25s ease-in-out;
        -ms-transition: all .25s ease-in-out;
         -o-transition: all .25s ease-in-out;
            transition: all .25s ease-in-out;
}
#footer-list dd a {
    color: #999;
}
#footer-list li a,#footer-bar li a {
    line-height: 2;
    font-size: 1em;
}
#footer-bar li {
    float: left;
    margin-left: 1em;
}
#footer-bar li a {
    color: #999;
}
#footer-bar .icon {
    position: relative;
    *top: 6px;
}
.icon-facebook {
    background: url(./img/facebook.png) 0 0 no-repeat;
}
.icon-twitter {
    background: url(./img/twitter.png) 0 0 no-repeat;
}
.icon-youtube {
    background: url(./img/youtube.png) 0 0 no-repeat;
}
.icon-google {
    background: url(./img/google+.png) 0 0 no-repeat;
}
.fbn-text {
    display: inline-block;
    *display: inline;
    *zoom: 1;
}
