@import url('./normalize.css');
@import url('./base.css');
@import url('./footer.css');

body {
    background: #141414;
    font: 14px arial, 微軟正黑體, sans-serif;
    color: #c8c8c8;
    background: #222 url(img/bg.jpg) center 0 repeat-y;
    background-attachment: fixed;
    -webkit-background-size: cover;
    background-size: cover;
}
ul {list-style: none;}
ul, ol, ul li, ol li, dl dt, dl dd {
    margin: 0;
    padding: 0;
}
.icon {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    width: 16px;
    height: 16px;
    vertical-align: middle;
}
.icon-mini {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    width: 12px;
    height: 12px;
    vertical-align: middle;
}

#news-header {
    background-color: #000;
    height: 80px;
    text-align: center;
    overflow: hidden;
    width: 980px;
    margin: 0 auto;
}
#news-nav a {
    float: left;
    margin: 20px;
}
.sn {
    margin: 0;
    background: url(img/logo-w110.png) 0 0 no-repeat;
    width: 100px;
    height: 34px;
    text-indent: -99em;
}
#news-wrapper {background-color: #202020; width: 980px; margin: 5px auto;}
.headline, .news-body {padding: 0 20px;}
.gray {color: gray;}
.headline {background: #000;overflow: hidden;position: relative;left: 0;border-bottom: 1px solid #333;}
.news-hd {font-size: 20px;font-weight: normal;color: #aaa; /*color: #e4cf93;*/}
.news-body {color: #aaa;}
.news-info {font-size: 12px;margin: 6px 0;}
.news-link {height: 40px;padding: 20px;}
.news-link a {text-decoration: underline;color: #ccc;}
.news-link .prev {float: left;}
.news-link .next {float: right;}

#news-footer {
    height: 120px;
    background-color: #666;
}
#news-footer #footer-container {
    padding: 40px 20px;
}
#news-footer a {
    color: #000;
}
#news-list {
    position: fixed;
    _position: absolute;
    left: 20px;
    top: 240px;
}
#news-list li {
    padding: 8px 0;
}
#news-list a {
    display: block;
}
#news-list a:hover {
    background-color: #000;
    text-decoration: none;
}
#news-list i {
    color: #fff;
    padding: 0 4px;
    border: 2px solid #666;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
}
#news-list a:hover i {
    border-color: #aaa;
}
#news-list span {
    /*position: absolute;*/
    display: inline-block;
    *display: inline;
    *zoom: 1;
    overflow: hidden;
    background-color: #000;
    color: #fff;
    z-index: 9;
    padding: 3px 6px;
    display: none;
}
#news-list a:hover span {
    display: inline;
}
.contact-body {
    padding: 10px;
}
#mapviewer {
    padding-left: 5px;
}
#address {
    width: 420px;
    font-size: 16px;
}