@import url('./normalize.css');
@import url('./base.css');
@import url('./footer.css');

body {
    background: #141414;
    font: 14px arial, 微軟正黑體, sans-serif;
    color: #c8c8c8;
    background: #222 url(img/bg.jpg) center 0 no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
}
ul {list-style: none;}
ul, ol, ul li, ol li, dl dt, dl dd {
    margin: 0;
    padding: 0;
}
.icon {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    width: 16px;
    height: 16px;
    vertical-align: middle;
}
.icon-mini {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    width: 12px;
    height: 12px;
    vertical-align: middle;
}

#news-nav {
    background-color: #000;
}
#news-header {
    background-color: #000;
    height: 80px;
    text-align: center;
    overflow: hidden;
    width: 980px;
    margin: 0 auto;
}
#news-nav a {
    float: left;
    margin: 20px;
}
.sn {
    margin: 0;
    background: url(img/logo-w110.png) 0 0 no-repeat;
    width: 100px;
    height: 34px;
    text-indent: -99em;
}
#news-wrapper {position: relative;background-color: #202020; width: 980px; margin: 5px auto;z-index: 3;}
.headline, .news-body {padding: 0 20px;}
.gray {color: gray;}
.headline {background: #000;overflow: hidden;position: relative;left: 0;border-bottom: 1px solid #333;height: 45px;}
.news-hd {font-size: 14px;font-weight: normal;color: #aaa; /*color: #e4cf93;*/}
.news-body {color: #aaa;}
.news-info {font-size: 12px;margin: 6px 0;}
.news-link {height: 40px;padding: 20px;}
.news-link a {text-decoration: underline;color: #ccc;}
.news-link .prev {float: left;}
.news-link .next {float: right;}


.contact-body {
    position: relative;
    padding: 20px 0;
    z-index: 2;
    overflow: hidden;
}
.contact-container {
    width: 940px;
}
#mapviewer {
    background-color: #f2f2f2;
    padding-left: 5px;
    opacity: 0.8;
    filter: alpha(opacity=80);
}
#address {
    background-color: #000;
    background-color: rgba(0,0,0,0.7);
    width: 420px;
    height: 412px;
    font-size: 14px;
    color: #C2C2C2;
}
.addr-inner {margin-left: 40px;margin-top: 100px;}
.hand {
    cursor: pointer;
}

#news-footer {
    height: 120px;
    background-color: #666;
    background-color: rgba(125,125,125, 0.8);
}
#news-footer #footer-container {
    padding: 40px 20px;
}
#news-footer a {
    color: #000;
}
#msgform {
    position: absolute;
    width: 940px;
    height: 420px;
    margin-top: -500px;
    background: #e2e2e2 url(img/003.jpg);
    z-index: 2;
}
#msg {
    margin: 15px auto;
    padding: 0;
    width: 600px;
    height: 260px;
    border: 1px solid #aaa;
    background-color: #e2e2e2;
    resize: none;
}
#msgform .inner {
    color: #666;
    padding: 20px 70px;
}
.submit-btn {
    background-color: #000;
    color: #eee;
    padding: 6px 16px;
    border: 1px solid #000;
}
#msgform .submit-btn {
    margin-left: 540px;
}