@import url('./normalize.css');
@import url('./base.css');
@import url('./footer.css');

body {
    font: 14px arial, 微軟正黑體, sans-serif;
    overflow-x: hidden;
    background: #231f20 url(img/grid.png);
}
ul {list-style: none;}
ul, ol, ul li, ol li, dl dt, dl dd {
    margin: 0;
    padding: 0;
}
.icon {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    width: 16px;
    height: 16px;
    vertical-align: middle;
}
.icon-mini {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    width: 12px;
    height: 12px;
    vertical-align: middle;
}
#prod-nav {
    position: absolute;
    position: fixed;
    width: 300px;
    /*height: 100%;*/
    /*left: 50%;*/
    /*margin-left: -480px;*/
    /*background-color: #231f20;*/
    text-align: center;
    z-index: 99;
}
.sn {
    margin-top: 120px;
    margin-bottom: 1em;
}
#prod-nav .sn a {
    color: #aaa;
}
#prod-nav .home {
    position: relative;
    top: 40px;
    margin-left: -120px;
    font-size: 12px;
    color: #999;
    /*background-color: #666;*/
}
.nav-hr {
    width: 10em;
    border-color: #444;
}
.prod-nav-list {
    /*padding: 12px;*/
    color: #777;
    font: 12px arial;
    line-height: 2;
}
.prod-nav-list dt {
    font-size: 14px;
    color: #999;
    letter-spacing: 2px;
}
#nav-footer {
    margin-top: 40px;
    font-size: 12px;
}
#prod-nav a {
    color: #777;
}
#prod-nav a:hover {
    color: #aaa;
}
#prod-wrapper {
    /*background: url(img/prod-bg.jpg) 0 0 no-repeat;*/
    /*background: url(img/1229586950.jpg) 0 0 repeat;*/
    /*background: rgba(225,225,225,0.75);*/
    position: absolute;
    /*left: 300px;*/
    left: 0;
    height: 100%;
    width: 100%;
    /*width: 960px;*/
    /*overflow-x: hidden;*/
    /*overflow-y: auto;*/
    /*margin: 0 auto;*/
    z-index: 10;
}
.prod-rt {
    position: relative;
    margin-top: 40px;
    left: 330px;
    width: 670px;
    /*height: 760px;*/
    /*padding: 120px 20px 20px 30px;*/
}
.prod {
    font-family: sans-serif;
    overflow: hidden;
    /*background: rgba(225,225,225,0.5);*/
}
.prod .headline {
    border-bottom: 1px solid #ccc;
}
.prod-body {
    /*margin-top: 100px;*/
    /*height: 100%;*/
}
.prod-photo {
    position: relative;
    float: left;
    width: 600px;
    text-align: left;
}
.poto-wrapper {
    /*background: #000 url(./img/bg1.png) 0 0 repeat;*/
    display: inline-block;
    *display: inline;
    *zoom: 1;
    background: #222;
    padding: 10px;
    margin:0;
    border: 1px solid #444;
/*    -webkit-box-shadow: 0px -2px 15px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px -2px 15px rgba(0,0,0,0.5);
    box-shadow: 0px -2px 15px rgba(0,0,0,0.5);*/
}
.ps-nav {
    position: absolute;
    width: 320px;
    left: 600px;
    /*margin-top: 20px;*/
    margin-right: 10px;
    background-color: #fff;
    /*float: right;*/
}
.ps-nav span {
    position: absolute;
    font: 28px arial, sans-serif;
    color: #999;
    float: left;
    background-color: #000;
    width: 24px;
    height: 24px;
    text-align: center;
    line-height: 24px;
}
.ps-nav .left {
    left:0px
}
.ps-nav .right {
    right:0px
}
.pd-hd {
    font: 16px arial, '微軟正黑體';
    color: #e2e2e2;
}
.pv-h {
    font-size: 14px;
}
.prod-info {
    float: left;
    color: #aaa;
    margin-top: 6px;
}
/*.prod-info .info-list {
    font-family: 微軟正黑體;
    margin-top: 20px;
    padding: 10px 5px;
    border: 1px solid #888;
    border-width: 1px 0;
    height: 105px;
    color: #e2e2e2;
}*/
.prod-detail {
    font-family: 微軟正黑體;
    /*color: #aaa;*/
    font-size: 14px;
}